body{
  background-color: black;
  
   border-radius: 25px;
   width:150px;
  
  }
  
  
  #autolocal-btn{
    
     border-radius: 25px;
     width:100px;
    
  }                
  #my-container {
    width:100%;
    height:100%;
     filter: blur(8px);
    -webkit-filter: blur(8px);
    background: url(sport.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
  
  #container{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90%;
    padding: 20px;
    text-align: center;
  }
  
  
  .container {
    border-radius: 30px;
    background-color: #87CEEB;
    padding: 10px;
  }
  
